.ffansIpLocation-database {
  padding-top: 8px;

  > .Button {
    margin-top: 12px;
  }
}

.ffansIpLocation-databaseNotice {
  margin-top: 12px;
  margin-bottom: 8px;
}

.ffansIpLocation-databaseFamilies {
  color: var(--muted-color);
}

.ffansIpLocation-recalculate {
  padding-top: 8px;

  .Form-group {
    margin-top: 12px;
    margin-bottom: 0;
  }

  > .Button {
    margin-top: 12px;
  }
}

.ffansIpLocation-recalculateProgress {
  display: inline-block;
  color: var(--muted-color);
}

.ffansIpLocation-recalculateSpinner {
  margin-left: 6px;
}

.ffansIpLocation-recalculateNotice {
  margin-top: 12px;
  margin-bottom: 0;
}
